{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "require-jsdoc"
  ],
  "rules": {
    "valid-jsdoc": 2,
    "require-jsdoc": 2
  }
}