{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "require-jsdoc"
  ],
  "rules": {
    "valid-jsdoc": "error",
    "require-jsdoc": "error",
    "indent": ["error", 2],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", {"properties": "never"}],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }]
  }
}