sudo: false
language: node_js
cache:
  directories:
    - node_modules
branches:
  only:
    - master
notifications:
  email: false
node_js:
  - "4.2"
  - "5.1"
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
script:
  - npm run eslint
  - npm run test
  - npm run coverage
  - npm run build
after_success: