<div class="introduction">
  <div class="method">

    <div class="github-corner-container">
      <a href="https://github.com/panzerdp/voca" class="github-corner" aria-label="View source on Github">
        <svg width="80" height="80" viewBox="0 0 250 250" aria-hidden="true">
          <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
          <path
              d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
              fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
          <path
              d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
              fill="currentColor" class="octo-body"></path>
        </svg>
      </a>
    </div>

    <div class="logo">
      <img src="images/voca-logo.png"/>
      <h1 class="logo-message">
        The ultimate JavaScript string library
      </h1>
    </div>

    <p class="badges">
      <iframe src="https://ghbtns.com/github-btn.html?user=panzerdp&repo=voca&type=star&count=true" frameborder="0" scrolling="0"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=panzerdp&repo=voca&type=fork&count=true" frameborder="0" scrolling="0"></iframe>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://vocajs.com" data-text="Check out Voca: the ultimate #JavaScript string library">Tweet</a>
    </p>

    <p class="badges">
      <a class="no-decoration" href="https://travis-ci.org/panzerdp/voca">
        <img src="https://img.shields.io/travis/panzerdp/voca.svg" alt="Travis CI Build"/>
      </a>
      <a class="no-decoration" href="https://codecov.io/github/panzerdp/voca">
        <img src="https://img.shields.io/codecov/c/github/panzerdp/voca.svg" alt="Code Coverage Report"/>
      </a>
      <a class="no-decoration" href="https://www.npmjs.com/package/voca">
        <img src="https://img.shields.io/npm/v/voca.svg" alt="Voca npm package"/>
      </a>
    </p>

    <p>Voca is a JavaScript library for manipulating strings.</p>

    <pre class="prettyprint"><code class="language-javascript">v.camelCase('bird flight');              // => 'birdFlight'
v.sprintf('%s costs $%.2f', 'Tea', 1.5); // => 'Tea costs $1.50'
v.slugify('What a wonderful world');     // => 'what-a-wonderful-world'</code></pre>

    <div class="introduction-message">
      <p>
        The Voca library offers helpful functions to make string manipulations comfortable: <i>change case, trim, pad,
        slugify, latinise, sprintf'y, truncate, escape</i> and much more. The <i>modular design</i> allows to load the entire
        library, or individual functions to minimize the application builds. The library is <i>fully tested</i>,
        <i>well documented</i> and <i>long-term supported</i>.
      </p>
    </div>

    <h2>Features</h2>

    <ul>
      <li>
        Provides the complete set of functions to manipulate, chop, format, escape and query strings
      </li>
      <li>
        Includes detailed, easy to read and searchable documentation
      </li>
      <li>
        <a href="https://saucelabs.com/u/panzerdp">Supports</a> a wide range of environments: Node.js 0.10+, Chrome,
        Firefox, Safari 7+, Edge 13+, IE 9+
      </li>
      <li>
        100% code coverage
      </li>
      <li>
        No dependencies
      </li>
    </ul>

    <h2>Usage</h2>

    <p>Voca can be used in various environments.</p>

    <h4>Node.js, Rollup, Webpack, Browserify</h4>

    <div class="commonjs-logo">
      <img alt="Voca JavaScript library support Node.js, Rollup, Webpack, Browserify" src="images/commonjs@200px.png" />
    </div>

    Install the library with npm into your local modules directory:

    <pre class="prettyprint"><code class="language-javascript">npm install voca</code></pre>

    <h4>CommonJS modules</h4>

    Then in your application require the entire library:

    <pre class="prettyprint"><code class="language-javascript">var v = require('voca');
v.trim(' Hello World! ');            // => 'Hello World'
v.sprintf('%d red %s', 3, 'apples'); // => '3 red apples'</code></pre>

    Or require individual functions:
    <pre class="prettyprint"><code class="language-javascript">var words = require('voca/words');
var slugify = require('voca/slugify');
words('welcome to Earth'); // => ['welcome', 'to', 'Earth']
slugify('caffé latté');    // => 'caffe-latte'</code></pre>

    <h4>ES2015 modules</h4>

    Voca is compatible with ES2015 modules to import the entire library:

<pre class="prettyprint"><code class="language-javascript">import voca from 'voca';
voca.kebabCase('goodbye blue sky'); // => 'goodbye-blue-sky'</code></pre>

    Or import individual functions:

<pre class="prettyprint"><code class="language-javascript">import last from 'voca/last';
last('sun rises', 5); // => 'rises'</code></pre>

    <h4>Browser</h4>

    <div class="browsers-logo">
      <img alt="Voca JavaScript library supports Chrome, Firefox, Safari, Edge, Internet Explorer"
           src="images/browsers@200px.png" />
    </div>

    Load the UMD builds directly into browser's web page:

    <ul>
      <li>
        <a href="https://raw.githubusercontent.com/panzerdp/voca/1.4.0/dist/voca.min.js">voca.min.js</a>
        minified production-ready, with <a href="https://raw.githubusercontent.com/panzerdp/voca/1.4.0/dist/voca.min.js.map">source map</a>
      </li>
      <li>
        <a href="https://raw.githubusercontent.com/panzerdp/voca/1.4.0/dist/voca.js">voca.js</a> uncompressed
        with comments
      </li>
    </ul>

    <pre class="prettyprint"><code class="language-javascript">&lt;script src=&quot;voca.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>

    Then a global variable <code>v</code> is exposed:

    <pre class="prettyprint">
<code class="language-javascript">&lt;script type=&quot;text/javascript&quot;&gt;
   v.last('wonderful world', 5); // => 'world'
&lt;/script&gt;</code></pre>

    <h3>See also</h3>

    <ul>
      <li>
        <a href="https://github.com/panzerdp/voca">Voca repository on Github</a>
      </li>
      <li>
        <a href="https://github.com/panzerdp/voca/issues/new">Report an issue or suggest improvement</a>
      </li>
      <li>
        <a href="https://github.com/panzerdp/voca/blob/master/.github/CONTRIBUTING.md">Contributing guide</a>
      </li>
    </ul>

    <h2>Author</h2>

    <table class="author-details">
      <thead>
      <tr>
        <th align="center">
          <img src="https://s.gravatar.com/avatar/7be6b604e5d3c6a82ed933dd90ed68dc?s=100"
               alt="Dmitri Pavlutin Profile Image"/>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td align="center">
          <a href="https://rainsoft.io/about-me/">Dmitri Pavlutin</a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a href="https://twitter.com/panzerdp">@panzerdp</a>
        </td>
      </tr>
      <tr>
        <td align="center">
          <a href="mailto:dmitri@rainsoft.io">dmitri@rainsoft.io</a>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>License</h2>

    <p>Licensed under <a href="https://github.com/panzerdp/voca/blob/master/LICENSE.md">MIT</a></p>

  </div>
</div>